{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    {% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static '/logo/logo1.png' %}" />
    <title>{% block title %}HR-info{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


</head>
{% endblock %}
<body>
    
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block scripts %}{% endblock %}
    
</body>
</html>