{% extends 'simple.html' %}

{% block title %}
{{ block.super }}: data
{% endblock %}

{% block content %}
<div class="container col-12 col-md-8 mx-auto mb-3">
    <h3 class="my-5">Приложение по учету персонала</h3>
   


    <h5>Приложение позволяет получить следующую информацию:</h5>
    <ul>
        <li>Данные по персоналу на последний рабочий день текущего месяца и за прошедший месяц по выбору</li>
        <li>Список сотрудников</li>
        <li>Данные сотрудника</li>
        <li>Табель текущего месяца и за прошедший месяц по выбору</li>
        <li>Зарплата текущего месяца и за прошедший месяц по выбору</li>
        <li>Отпуска/больничные</li>
        <li>Вывод/скачивание данных в формате pdf или csv</li>
    </ul>
    <h5 class="my-5">Вход в приложение только для зарегистрированных пользователей</h5>
    <div>Авторизуйтесь для работы в приложении - <a
        class="btn btn-outline-secondary " href="{% url 'login' %}">Авторизация</a></div>
    <div class="mt-3">Если Вы не зарегистированы, перейдите на страницу регистрации - <a
            class="btn btn-outline-secondary " href="{% url 'register' %}">Регистрация</a></div>
  

  </div>

{% endblock %}
